{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/apple-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Dashboard</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <!-- <link href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.bootstrap4.min.csss" rel="stylesheet" type="text/css"/> -->
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/light-bootstrap-dashboard.css' %} " rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <!-- <link href="{% static 'css/demo.css' %}" rel="stylesheet" /> -->
    <style type="text/css">
      label{
       width: 180px;
       clear: left;
       text-align: right;
       padding-right: 10px;
      }
      input,label{
       float: left;
      }
      button{
        margin-left: 180px;
      }
    </style>
</head>

<body>
    <div class="wrapper">
        <div class="sidebar" data-image="{% static 'images/sidebar-5.jpg' %}">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="{% url 'accounts:dashboard' %}" class="simple-text">
                        {{request.user}}
                    </a>
                </div>
                <ul class="nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="">
                            <i class="nc-icon nc-chart-pie-35"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                   <!--  -->
                    <li>
                        <a class="nav-link" href="{% url 'accounts:predict_opd' %}">
                            <i class="nc-icon nc-notes"></i>
                            <p>Predict</p>
                        </a>
                    </li>
                
             
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'accounts:home' %}"> Home </a>
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                  <!--   <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <ul class="nav navbar-nav mr-auto">
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-toggle="dropdown">
                                    <i class="nc-icon nc-palette"></i>
                                    <span class="d-lg-none">Dashboard</span>
                                </a>
                            </li>
                         
                            
                        </ul>
                    </div> -->
                </div>
            </nav>
            <!-- End Navbar -->

            <div class="container-fluid ml-5">


            <form method = 'POST' action="" class="pt-3" id="myform">
              {% csrf_token %}
              <div class="row form-inline pt-3">
                <div class="col-md-6"><label>{{form.username.label}}:</label>{{form.username}}</div>
                <div class="col-md-6"><label>{{form.Gender.label}}:</label>{{form.Gender}}</div>
              </div>
              <div class="row form-inline pt-3">
                <div class="col-md-6"><label>{{form.Polyuria.label}}:</label>{{form.Polyuria}}</div>
                <div class="col-md-6"><label>{{form.Polydipsia.label}}:</label>{{form.Polydipsia}}</div>
              </div>
              <div class="row form-inline pt-3">
                <div class="col-md-6"><label>{{form.Sudden_weight_loss.label}}:</label></label>{{form.Sudden_weight_loss}}</div>
                <div class="col-md-6"><label>{{form.Partial_paresis.label}}:</label>{{form.Partial_paresis}}</div>
              </div>
              <div class="row form-inline pt-3">
                <div class="col-md-6"><label>{{form.Polyphagia.label}}:</label>{{form.Polyphagia}}</div>
                <div class="col-md-6"><label>{{form.Irritability.label}}:</label>{{form.Irritability}}</div>
              </div>
              <div class="row form-inline pt-3">
                <div class="col-md-6"><label>{{form.Alopecia.label}}:</label>{{form.Alopecia}}</div>
                <div class="col-md-6"><label>{{form.Visual_blurring.label}}:</label>{{form.Visual_blurring}}</div>
              </div>
              <div class="row form-inline pt-3 pb-3">
                <div class="col-md-6"><label>{{form.Weakness.label}}:</label>{{form.Weakness}}</div>
                <div class="col-md-6"><button type="submit" class="btn  btn-info btn-fill" >Submit</button></div>
              </div>
            
            </form>
            </div>
            <button type="button" class="btn btn-info btn-fill" id="click">Check Result</button>
            <div class="container table-responsive panel-body " id="res">
        <table width="100%" class="datatable table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Polyuria</th>
                    <th>Polydipsia</th>
                    <th>Gender</th>
                    <th>Sudden_weight_loss</th>
                    <th>Partial_paresis</th>
                    <th>Polyphagia</th>
                    <th>Irritability</th>
                    <th>Alopecia</th>
                    <th>Visual_blurring</th>
                    <th>Weakness</th>
                    <th>Prediction</th>
                </tr>
            </thead>
            <tbody>
                <tr> 
                    <td>{{Polyuria}}</td>
                    <td>{{Polydipsia}}</td>
                    <td>{{Gender}}</td>
                    <td>{{Sudden_weight_loss}}</td>
                    <td>{{Partial_paresis}}</td>
                    <td>{{Polyphagia}}</td>
                    <td>{{Irritability}}</td>
                    <td>{{Alopecia}}</td>
                    <td>{{Visual_blurring}}</td>
                    <td>{{Weakness}}</td>
                    <td>{{prediction}}</td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div> 


           
       
            <footer class="footer">
                <div class="container-fluid">
                    <nav>
                  <!--  -->
                        <p class="copyright text-center">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            <strong>UmarWani</strong> made with love for a better life
                        </p>
                    </nav>
                </div>
            </footer>
        </div>
    </div>

</body>
<!--   Core JS Files   -->
<script src="{% static 'js/core/jquery.3.2.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/core/popper.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/core/bootstrap.min.js' %}" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="{% static 'js/plugins/bootstrap-switch.js' %}"></script>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!--  Chartist Plugin  -->
<script src="{% static 'js/plugins/chartist.min.js' %}"></script>
<!--  Notifications Plugin    -->
<script src="{% static 'js/plugins/bootstrap-notify.js' %}"></script>
<!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
<script src="{% static 'js/light-bootstrap-dashboard.js' %} " type="text/javascript"></script>
<!-- Light Bootstrap Dashboard DEMO methods, don't include it in your project! -->

<script>
  $(document).ready(function(){
    $("#res").hide(function(){
      $("#click").click(function(){

        $("#res").show();
        // return false;

      });

    });
  });
</script>




</html>

















